.chat-main
  .chat-main__group-info
    .chat-main__group-info--test
      test
      .chat-main__group-info--test--member
        Member:masa
    .chat-main__group-info--edit
      = link_to "#" do
        .edit
          edit
  .chat-main__message-list
    .chat-main__message-list--user1
      .chat-main__message-list--user1--message-name1
        masa
      .chat-main__message-list--user1--day1
        2019/11/20(Wed) 17:43:01
    .chat-main__message-list--text1
      おはよう!
    .chat-main__message-list--user1
      .chat-main__message-list--user1--message-name1
        mase
      .chat-main__message-list--user1--day1
        2019/11/20(Wed) 17:43:02
    .chat-main__message-list--text1
      こんにちは!

  .chat-main__footer
    .chat-main__footer--foom
      .chat-main__footer--foom--text
        type a message
      .chat-main__footer--foom--image
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file"}

    .chat-main__footer--send-btn
      Send