.side-bar
  .side-bar__user-name
    .side-bar__user-name--box
      masa
    .side-bar__user-name--menu
      .side-bar__user-name--menu--icon
        = link_to "#" do
          %i.fas.fa-edit
      .side-bar__user-name--menu--icon2
        = link_to "#" do
          %i.fas.fa-cog
  .side-bar__group-list
    techcamp
    .side-bar__group-list--message
      まだメッセージがありません
